Repository codacy-open-source-project-scans/device-mapper-persistent-data: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-locked, clippy-locked, clippy-tests

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-merge-conflict
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: trailing-whitespace
-   repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
    -   id: fmt
-   repo: local
    hooks:
    -   id: check-locked
        name: cargo check
        description: Check the package for errors.
        entry: cargo check --locked
        language: system
        files: Cargo.(lock|toml)$
        pass_filenames: false
    -   id: clippy-locked
        name: cargo clippy
        description: Run the Clippy linter on the package.
        entry: cargo clippy --locked -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false
    -   id: clippy-tests
        name: clippy-tests
        description: Run the Clippy linter on tests.
        entry: cargo clippy --tests --locked -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

Frozen autocommit 2023-12-24 06:13:48.359532
  README.md
Due: none

Frozen autocommit 2024-01-01 06:13:36.944325
  README.md
Due: none

Frozen autocommit 2024-01-09 06:05:39.439946
  .pre-commit-config.yaml
  README.md
  examples/custom-emitter.rs
  src/commands/thin_metadata_pack.rs
  src/commands/thin_metadata_unpack.rs
  src/io_engine/async_.rs
  src/pdata/space_map/common.rs
  src/pdata/space_map/tests.rs
  tests/thin_metadata_pack.rs
  tests/thin_metadata_unpack.rs
Due: clippy-locked, clippy-tests

Frozen autocommit 2024-01-16 06:14:14.090938
  Cargo.lock
  Cargo.toml
  README.md
  man8/era_dump.txt
  man8/thin_dump.txt
  man8/thin_ls.txt
  src/commands/engine.rs
  src/commands/thin_check.rs
  src/commands/thin_trim.rs
  src/commands/utils.rs
  src/era/dump.rs
  src/pdata/space_map/allocated_blocks.rs
  src/pdata/space_map/checker.rs
  src/pdata/space_map/metadata.rs
  src/pdata/space_map/tests.rs
  src/thin/check.rs
  src/thin/damage_generator.rs
  src/thin/metadata_repair.rs
  src/thin/stat.rs
  tests/thin_check.rs
Due: check-locked, clippy-locked, clippy-tests

Frozen autocommit 2024-01-24 06:14:06.139256
  README.md
Due: none

Frozen autocommit 2024-02-01 06:12:29.573047
  README.md
Due: none

Frozen autocommit 2024-02-09 06:13:16.394433
  Cargo.lock
  Cargo.toml
  README.md
  src/cache/check.rs
  src/thin/check.rs
  tests/cache_check.rs
Due: check-locked, clippy-locked, clippy-tests

Frozen autocommit 2024-02-16 06:51:43.072613
  README.md
Due: none

Frozen autocommit 2024-02-24 06:13:13.634505
  Cargo.lock
  Cargo.toml
  README.md
  src/commands/cache_check.rs
  src/commands/cache_dump.rs
  src/commands/cache_generate_metadata.rs
  src/commands/cache_metadata_size.rs
  src/commands/cache_repair.rs
  src/commands/cache_restore.rs
  src/commands/cache_writeback.rs
  src/commands/era_check.rs
  src/commands/era_dump.rs
  src/commands/era_generate_metadata.rs
  src/commands/era_invalidate.rs
  src/commands/era_repair.rs
  src/commands/era_restore.rs
  src/commands/thin_check.rs
  src/commands/thin_delta.rs
  src/commands/thin_dump.rs
  src/commands/thin_explore.rs
  src/commands/thin_generate_damage.rs
  src/commands/thin_generate_metadata.rs
  src/commands/thin_ls.rs
  src/commands/thin_metadata_pack.rs
  src/commands/thin_metadata_size.rs
  src/commands/thin_metadata_unpack.rs
  src/commands/thin_repair.rs
  src/commands/thin_restore.rs
  src/commands/thin_rmap.rs
  src/commands/thin_shrink.rs
  src/commands/thin_stat.rs
  src/commands/thin_trim.rs
  src/commands/utils.rs
  src/thin/dump.rs
  tests/common/common_args.rs
  tests/common/process.rs
  tests/thin_delta.rs
  tests/thin_dump.rs
Due: check-locked, clippy-locked, clippy-tests

Frozen autocommit 2024-03-03 06:13:06.930117
  Cargo.toml
  README.md
  examples/custom-emitter.rs
  src/cache/dump.rs
  src/dump_utils.rs
  src/era/dump.rs
  src/thin/dump.rs
  tests/common/process.rs
  tests/thin_dump.rs
Due: check-locked, clippy-locked, clippy-tests

Frozen autocommit 2024-03-11 06:13:14.642015
  README.md
Due: none

Frozen autocommit 2024-03-19 06:05:55.820750
  README.md
Due: none

Frozen autocommit 2024-03-26 06:37:07.608095
  README.md
Due: none

Frozen autocommit 2024-04-06 05:49:29.251513
  README.md
  src/pdata/btree_iterator.rs
  src/pdata/mod.rs
Due: clippy-locked, clippy-tests

Frozen autocommit 2024-04-13 05:58:49.363248
  README.md
Due: none

Frozen autocommit 2024-04-23 15:40:20.558760
  README.md
Due: none

Frozen autocommit 2024-05-01 06:15:17.794985
  README.md
Due: none

Frozen autocommit 2024-05-13 17:09:26.656020
  README.md
Due: none

Frozen autocommit 2024-05-21 06:11:55.652845
  README.md
  flake.lock
  flake.nix
  src/bin/pdata_tools_dev.rs
  src/cache/check.rs
  src/cache/damage_generator.rs
  src/cache/mod.rs
  src/commands/cache_generate_damage.rs
  src/commands/mod.rs
  src/devtools/damage_generator.rs
  src/devtools/mod.rs
  src/lib.rs
  src/pdata/btree_iterator.rs
  src/thin/damage_generator.rs
  src/thin/delta.rs
  src/thin/ls.rs
  tests/cache_check.rs
  tests/cache_dump.rs
  tests/common/cache.rs
  tests/common/era.rs
  tests/common/mod.rs
  tests/common/piping.rs
  tests/common/target.rs
  tests/era_dump.rs
  tests/thin_dump.rs
Due: clippy-locked, clippy-tests

Frozen autocommit 2024-05-29 06:11:14.314137
  README.md
  src/commands/thin_explore.rs
  src/thin/dump.rs
  src/thin/metadata.rs
  src/thin/metadata_repair.rs
  src/thin/shrink.rs
  tests/cache_check.rs
  tests/cache_dump.rs
  tests/common/fixture.rs
  tests/common/thin.rs
  tests/era_dump.rs
  tests/thin_dump.rs
  tests/thin_repair.rs
Due: clippy-locked, clippy-tests

Frozen autocommit 2024-06-05 06:12:54.428025
  Cargo.lock
  README.md
Due: check-locked

Frozen autocommit 2024-06-12 19:07:39.367340
  README.md
Due: none

Frozen autocommit 2024-06-20 03:07:05.156700
  README.md
Due: none

Frozen autocommit 2024-06-28 03:07:01.668550
  README.md
Due: none
